{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="b-bread-crumbs"><a href="{% url 'home' %}">Главная</a><a href="{% url 'about' %}">О
            клинике</a><span>Прейскурант</span></div>
    <div class="b-component-title">
        <div class="d-flex justify-content-between">
            <h1>Прейскурант</h1>
        </div>

    </div>
</div>


<div class="container">


    <div class="b-search">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-12 d-flex reverse-1">
                <a href="https://gm.clinic/upload/price-11.01.2021.xls" class="btn btn-primary">Скачать прейскурант
                    (Excel,
                    1Мб)
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-12 reverse-2">
                <form class="search" action="https://gm.clinic/about/price/">
                    <input class="search-input js-search-input" type="text" name="price_q" value="">

                    <button class="search-button" type="submit">

                        <svg class="icon icon_search-loop ">
                            <use xlink:href="../../local/templates/gm/images/sprite.svg#search-loop"></use>
                        </svg> </button>

                    <label class="error js-error-search">Поиск пуст</label>
                </form>
            </div>
        </div>
    </div>

    <div class="b-price-list search">
        <div class="directions-price-list" id="accordion">
            {% for item in price %}
            <div class="card">

                <a class="card-header direction-price-list js-open-direction" href="{{ item.get_absolute_url }}">

                    <div class="direction">

                        <div class="direction-container-img">
                            {% if item.icon %}
                            <div class="direction-img" style="width: 100%;">
                                <img src="{{ item.icon.url }}" width="102" height="102">
                                {% else %}
                                <p></p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="direction-name" data-name="Терапия">{{ item.title }}</div>
                    </div>
                </a>
                {% endfor %}


                {% endblock %}