{% load static %}
<div class="b-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-end" style="background-image: url(/static/img/clinic.jpg);">
                <div class="swiper-slide-half prev js-slide-prev"></div>
                <div class="swiper-slide-half next js-slide-next"></div>

                <div class="row">
                    <div class="col-12 col-lg-6 d-flex align-items-end">
                        <h2>ДАВАЙТЕ <br> НАПИШЕМ <br> ТЕКСТ</h2>

                        <a class="btn btn-secondary more" href="{% url 'about' %}">
                            Подробнее
                        </a>
                    </div>

                    <div class="col-12 col-lg-6 d-flex align-items-end">
                        <div class="block-description">
                            <div class="description">
                                <div>
                                    Используйте все возможности современной медицины в клинике Гранд Медика. Более 23
                                    видов сложных операций в  сосудистой хирургии, урологии, отоларингологии и других
                                    направлениях доступны по простому полису ОМС. Такой и должна быть медицина сегодня.
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide d-flex align-items-end" style="background-image: url(static/img/clinic2.jpg);">
                <div class="swiper-slide-half prev js-slide-prev"></div>
                <div class="swiper-slide-half next js-slide-next"></div>

                <div class="row">
                    <div class="col-12 col-lg-6 d-flex align-items-end">
                        <h2>ВЫСШИЙ УРОВЕНЬ <br>БЕЗОПАСНОСТИ <br>МЕДИЦИНЫ </h2>

                    </div>

                    <div class="col-12 col-lg-6 d-flex align-items-end">
                        <div class="block-description">
                            <div class="description">
                                <div>
                                    Безопасность пациента – главный приоритет нашей клиники. Именно поэтому мы
                                    обеспечиваем высшие стандарты безопасности на основе системы дезинфекции
                                    операционных,&nbsp;высокоточного, «умного» оборудования и обязательного
                                    использования одноразовых расходных материалов высшего качества. Такой и должна быть
                                    современная клиника.&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>